.containerSearch {
    max-width: 300px;
    position: absolute;
    top: 70px;
    left : 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border : solid 1px var(--choco);
    font-size: 1.2em;
    z-index: 2;
    .openCategory,.openPrice, .openNote{
        visibility: hidden;
    }

}
.searchTitle{
    background: #664733;
    font-weight: bold;
    margin: 0;padding: 30px;
    font-size: 2em;
    color: var(--yellow);

}
.inputSearch{
    padding: 20px;
    background: rgb(191, 153, 119);
    label{
        padding-left: 10px;
    }

    
}
.containerSearch h3{
    font-size: 1.5em;
    padding: 10px 0px;
}
