.cardbasket{
    visibility: hidden;
transition:  0.2s ease-in;
    height: 900px;
    width: 400px;
    background: white;
    position: absolute;
    right: 0px;top: 0;
    z-index: 2;
    border : solid 3px var(--choco);
    border-right: none;
    .entetePanier{
        background: var(--choco);
        font-size: 1.3em;
    }
    .closePanier{
        font-size: 20px;
        margin: 5px;
        padding: 5px;
    }
    h1{
        font-size: 1.5em;
        padding: 5px 0px 20px 0px;
    }
    .articles{
        padding-top: 15px;
        display: flex;
        text-align: center;
        align-items: center;

;}
    h2{
        font-size: 1.1em;
        margin-left: 20px;
    }
    h3{
        font-size: 1.1em;
    }
    span{
        font-size: 40px;
        cursor: pointer;
        color: red;
        
    }
    .qty{
width: 30px;
        padding: 10px;
    }
    img{
        height: 60px;
        width: 60px;
    }
    .footerPanier{
        position: absolute;
        background: var(--lightchoco);
        font-size: 2em;
        padding: 30px;
        color: var(--yellow);
        text-align: right;
        bottom: 0px;
        width: 398px;
        border-top: solid 2px var(--choco);
        .bouton{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: auto;
            padding-top: 10px;
            align-items: center;
            button{
                padding: 5px;
                background: var(--choco);
                color: var(--yellow);
                margin: 10px;
                border-radius: 5px;
                width: 300px;
                font-size: 0.5em;
        }
        }
    }
    .total{
            color: var(--yellow);
            font-size: 1em;            
    }
}
.cardarticles{
    padding-left: 10px;
padding-top: 10px;
    display: flex;
    flex-direction: row;
    width: 400px;
    align-items: center;
    text-align: center;
    .sousCardArticles{
        width: 150px;
    }
    .plus, .moins{
        border: outset 1px red;
        font-size: 15px;
    border-radius: 50px;
    height: 25px;
    width: 25px;


    &:hover{
        background: red;
        color : white;
    }
}
    }
    span{
text-align: center;
        margin: 5px;
        margin-left: 10px;
        transform: translateY(-12px);
    }
#articles{
    display: flex;
    flex-direction: column;
    align-items: center;
}