@media only screen and (min-width: 1500px) {
    .bodycontainer{
       margin: 30px 130px;
    }
}
@media only screen and (max-width: 1300px) {
.titre{
    margin-top: 50px;
    font-size:3em;
    z-index: 3;
}
.containerChocolate{
  padding-top: 50px;
}

}
@media only screen and (max-width: 800px) {
  
  .titre{
top : 150px;
  }
#carousel-container{
  height: 400px;
  .carouselContent{
    height: 400px;
    .carouselContentImage{height: 400px;}
  }
}
    .containerSearch{
        left : 0px;
        width : 100%;
        top : 0px;
    }
    .bodycontainer{
        margin: 0px;
     }
     .containerFooter{
        display: block;
           }
           .chocoPop{
            padding: 0px;
        }

                /*****************************************************************************************************/
                                            /*Mise en forme du menu burger*/
                /*****************************************************************************************************/
        .header{
            display: none;
        }
        .bodycontainer{border-radius: none;}
        .burger-menu{display: block;}
.navbar.active{
  display: block;
  z-index: 5
  ;
}
        .menu.active {
          display: flex; /* Affiche le menu principal lorsque le menu burger est activé */
          flex-direction: column;
          background-color: var(--yellow);
          position: absolute;
          top : 0%;
          left: 0;
          width: 100%;
        }
      
        .menu.active li {
          margin-right: 0;

          text-align: center;
        }
      }
        .containerSearch{
            background: #1F1615;
            border-radius: none;
            left : 0px;
            width : 100%;
            top : 0px;
        }

    