.navigation{
    margin: 30px 80px 0px 80px ;
    border-radius: 10px;
max-height: 150px;
.articlePanier{
    font-size: 1.5em;
}
}
.fa-solid{
    padding: 0px 10px 0px 0px;
    cursor: pointer;
    font-size: 23px;
    }
    .titre{
        position : absolute;
        text-align: center;
        color: var(--yellow);
        z-index: 1;
        top : 250px;
        left : 50%;
        text-transform: uppercase;
        letter-spacing: 5px;
        transform: translate(-50%,-50%);
        font-size: 4em;
    }
    nav {
        font-family: 'Fjalla One';
        height: 150px;
        background: rgb(102, 71, 51);
        background: linear-gradient(124deg, rgba(102, 71, 51, 1) 47%, rgba(191, 153, 119, 0.9472163865546218) 84%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-style: solid;
        border-left: none;
        border-right: none;
        border-top: none;
        border-color: var(--yellow);
        border-radius: 10px 10px 0px 0px;    
    }
     ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        .nbArticle{
            color: var(--yellow);
            margin: 5px;
        }
    }
    nav a, i{
        color: var(--lightGrey);
        text-decoration: none;
        padding: 10px 20px;
        display: block;
        font-size: 2em;
    }
    nav a:hover, i:hover, .panier{
        color: var(--yellow);
        transition: 0.3s ease-in;
        text-decoration: none;
    }
    #logo {
        margin: 15px;
        margin-left: 30px;
        width: 100px;
        height: 100px;


        &:hover {        animation-name: rotate;
            animation-duration: 2s;
            @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
          }
    }}
    #side-bar{
        visibility: hidden;
    }
.burger-menu{
    display: none;
    cursor: pointer;
    .bar{
        width: 50px;
        height: 8px;
        background-color: var(--yellow);
        margin: 8px 20px;
        border-radius: 20px;

    }
}
    .navbar{
        display: flex;align-items: center;display: none;


        .menu {
            display: flex;
            list-style-type: none;        
                display: none; 
          }
          
          .menu li {
            margin-right: 20px;
          }
    }